
<div class="card calendar-data">
    <p-calendar class="max-w-full" [(ngModel)]="date" [inline]="true" [showWeek]="true"></p-calendar>
</div>


<div class="card w-25"> 
   <div class="m-3">
    <div class="d-flex card-data">
        <img src="../../assets/user.png" alt="" class="images-user">
        <h6 class="content-wrap">Patient</h6>
    </div>
    <h3>1,863</h3>
    <div class="d-flex card-data">
        <p>Last 7days</p>
        21%<span class="material-icons">trending_up</span>

    </div>
    
   </div>

</div>